@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white-1: #ffffff;
    --white-2: #f9fafb;

    --gray-1: #d0d5dd;
    --gray-2: #eaecf0;
    --gray-3: #f9fafb;

    --darkgrey-1: #475467;
    --darkgrey-2: #344054;
    --black: #101828;

    --violet: #7f56d9;

    /* --bg-primary: #ffffff;
    --bg-secondary: #f9fafb; 
   --border-primary: #d0d5dd;
    --border-secondary: #eaecf0; 
   --text-primary: #101828;
    --text-secondary: #344054;
    --text-tertiary: #475467; */
  }
}

body {
  color: #101828;
}

/* basic css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
